[200~*.out
build
dist
nbproject
.dep.inc
*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.aux
.idea
*.ipr
*.iml
*.iws
*.pyc
*.png
*.class

# Package Files #
*.jar
*.war
*.ear

.idea/
*.iml
*.ipr
*.iws

bin/
target/
tmp/

*~
*.tmp
*.bak
*.swp
*~.nib

*~
