<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pedometer.app"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="16"
            tools:ignore="OldTargetApi"/>

    <uses-permission
            android:name="android.permission.INTERNET"/>
    <uses-permission
            android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:label="@string/app_name"
            android:allowBackup="true"
            android:icon="@drawable/icon">

        <activity
                android:name="pedometer.droid.DroidMain"
                android:label="@string/app_name"
                android:configChanges="orientation"
                android:keepScreenOn="true"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="pedometer.droid.DroidPreference"/>

        <receiver
                android:name="pedometer.droid.DroidAutoStart">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service
                android:name="pedometer.droid.DroidService"
                android:icon="@drawable/icon"
                android:label="@string/app_name"/>
    </application>
</manifest> 
